* {
    text-decoration: none;
    list-style: none;
}

body {
    /* background-image: url("../images/l1.jpeg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1200px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);

}
.container{
    background-color: rgba(0, 0, 0, 0.1);
    height: auto;

}

.link a {

    padding: 14px 30px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    
}

.link a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}

#underline {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 5px;
}
h2 {
    padding: 30px;
    font-size: 80px;
    font-family: 'Viaoda Libre', cursive;
    
}
span{
    font-size: 50px;
    color: red;
    font-weight: 500;
    font-family: "Sofia", sans-serif;

}
.info {
    display: none;
  }
  .info P{
    color: black;
    background-color: wheat;
    padding: 20PX;
    border-radius: 10PX;
    font-size: 20PX;
}


.btbX {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;
    font-size: 20px;
}
.btbX a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px 40px;
    
}

.btbX a:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
    
    
}
